doctype html
html
  head
    title #{title}
    style
      include ../styles/country.css
      include ../styles/style.css
  body
    include header.pug
    div(class="main-container")
      h1 #{name}
      p #{description}
      h2 Destinations
      div(class="destinations")
        each dest in destData
          div(class="dest")
            a(class="dest-link" href=`/destination/${dest._id}${queryParams}`)
              h4 #{dest.name}
              span #{dest.description}
              span Rating: #{4.2}
