doctype html
html
  head
    title #{title}
    link(rel='icon' href='/images/logo/profile.png')
    style
      include ../styles/country.css
      include ../styles/style.css
  body
    include header.pug
    div(class="main-container")
      if img
        img(class='img-header-country' src=img)
      h1 #{name} #{flag}
      p #{description}
      h2 Destinations
      div(class="destinations")
        each dest in destData
          div(class="dest")
            a(class="dest-link" href=`/destination/${dest._id}`)
              img(class='img-header-dest' src=dest.img)
              h4 #{dest.name}
              if dest.stars == "1"
                div(class='stars')
                  img(src='/images/star.png')
              else if dest.stars == "2"
                div(class='stars')
                  img(src='/images/star.png')
                  img(src='/images/star.png')
              else if dest.stars == "3"
                div(class='stars')
                  img(src='/images/star.png')
                  img(src='/images/star.png')
                  img(src='/images/star.png')
              else if dest.stars == "4"
                div(class='stars')
                  img(src='/images/star.png')
                  img(src='/images/star.png')
                  img(src='/images/star.png')
                  img(src='/images/star.png')
              else if dest.stars == "5"
                div(class='stars')
                  img(src='/images/star.png')
                  img(src='/images/star.png')
                  img(src='/images/star.png')
                  img(src='/images/star.png')
                  img(src='/images/star.png')
