doctype html
html
  head
    title #{title}
    style
      include ../styles/destination.css
      include ../styles/style.css
  body
    include header.pug
    div(class="main-container")
      if img
          img(class='img-header' src=img)
      h1 #{name}
      p #{description}
      div(class="sub-header")
        h2 Reviews
        a(href=`/review/create/${_id}`)
          button(class="btn" type="button") Create A Review +
      div(class="reviews")
        each review in reviewData
          div(class="review")
            a(class="review-link" href=`/review/${review._id}`)
              h4 #{review.title}
