doctype html
html
  head
    title #{title}
    style
      include ../styles/destination.css
      include ../styles/style.css
  body
    include header.pug
    div(class="main-container")
      div(class="sub-header")
        h1 #{name}
        a(href=`/review/create/${_id}`)
          button(class="btn" type="button") Create A Review
      p #{description}
      h2 Reviews
      div(class="reviews")
        each review in reviewData
          div(class="review")
            a(class="review-link" href=`/review/${review._id}`)
              h4 #{review.title}
