doctype html
html
  head
    title #{title}
    link(rel='icon' href='/images/logo/profile.png')
    style
      include ../styles/style.css
      include ../styles/index.css

  body
    include header.pug
    div(class="container")
      div(class="card")
        a(href='/')
          img(src='/images//logo/default.png' class='logo')
        form(method='POST' class='form-group' action='/search')
          input(class='form-control' type='text' id='searchInput' placeholder='Search for a country or destination' name='searchword')
          button(type='submit' class='btn-submit') Search
        if results
          h2(class='results-header') Search results
          if results.countries.length || results.destinations.length
            ul
              if results.countries.length
                h3 Countries
                each country in results.countries
                  li 
                    a(class='list-link' href=`/country/${country.code}`) #{country.name} #{country.flag}
              if results.destinations.length
                h3 Destinations
                each dest in results.destinations
                  li
                    a(class='list-link' href=`/destination/${dest._id}`) #{dest.name}
          else
            span Oops! No results found