doctype html
html
  head
    style
      include ../styles/profile.css
      include ../styles/style.css
  body
    div(class="main-container")
      img(src=profilePic class="profile-pic")
      div(class="info-container")
        h2 #{firstName} #{lastName}
        div(class="secondary-info")
          span @#{username}
          span <b>email: </b>#{email} 
          span <b>location: </b>#{location}
          span <b>reviews: </b>#{reviewCount} 
          span <b>Joined: </b>#{joined}
          span <b>Bio: #{bio}</b>

