doctype html
html
  head
    title #{title}
    style
      include ../styles/review.css
      include ../styles/style.css
  body
    include header.pug
    div(class="main-container")
      div(class="sub-header")
        h1 #{title}
        div(class='actions')
          if isReviewCreator
            a(href=`/review/edit/${_id}${queryParams}`)
              button(class="edit-btn") Edit
          if isReviewCreator || isAdmin
            form(method='POST' action=`/review/delete/${_id}${queryParams}`)
              button(class="delete-btn") Delete
      div
        | !{reviewHtml}
